/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root{
  --blue:#003699;
  --blue2:#0563bb;
  --blue3:#0678e3;
  --sky-blue:#47aeff;
  --green:#108800;
  --pink:#e80368;
  --orange:#ff5828;
  --aqua:#11dbcf;
  --white: #fff;
  --yellow:#ffbb2c;
  --gray:#45505b;
  --gray2:#728394;

}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  background-color: #001741;

}

a {
  color: var(--blue2);
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--white);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: rgb(255, 255, 255);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--blue3);
  color: var(--white);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: var(--white);
    border-right: 1px solid var(--white);
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--gray);
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: var(--white);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: var(--gray);
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: var(--white);
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: var(--white);
  background: var(--blue);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: var(--white);
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: var(--white);
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: var(--gray);
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: var(--white);
  background-color: var(--blue2);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.jpg);  
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  background-image: inherit ;
  background-size: cover;
  filter: blur(8px);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}



#hero h1 {
  margin: 0;
  font-size: 100px;
  font-weight: 700;
  line-height: 56px;
  color: var(--white);
  
}

#hero p {
  color: var(--white);
  margin: 15px 0 0 0;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: hsl(59, 100%, 50%);
  letter-spacing: 5px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: var(--white);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #ffd000;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}



/* 
Parallax
*/

.items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-height: 100vh;
  filter: blur(9px); 
}

.items__inner{
  width: 500%;
  max-width: 500px;
  height: 100px;
}

.items__layer .items__item{
position: relative;
}

.items__item img{
  height: 250px;
}

.items__layer:nth-child(1) .items__item{
  top:  10px;
  left: 10px;
}

.items__layer:nth-child(2) .items__item{
  top: 100px;
  left: 20em;
}

.items__layer:nth-child(3) .items__item{
  top: 100px;
  left: 500px;
}

.items__layer:nth-child(4) .items__item{
  top: 600px;
  left: 7000px;
}

.items__layer:nth-child(5) .items__item{
  top: 300px;
  left: 20px;
}

.items__layer:nth-child(6) .items__item{
  top: 80px;
  left: 700px;
}

.items__layer:nth-child(7) .items__item{
  top: 300px;
  left: 300px;
}




/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--white);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 3px;
  background: var(--blue2);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--gray2);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--blue2);
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: var(--white);
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: var(--blue2);
  color: var(--white);
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: var(--white);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--blue2);
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--gray);
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--blue2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--blue2);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: var(--white);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--white);
  border: 2px solid var(--blue2);
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: var(--white);
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: var(--blue2);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
  border-radius: 20px;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  /*  */



  .portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid var(--white);
    border-right: 3px solid var(--white);
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }

  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: var(--gray);
    font-weight: 600;
  }

.portfolio .portfolio-wrap .portfolio-info p {
  color: var(--gray);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: var(--gray);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: var(--white);
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
  border-radius: 40px;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
  
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: var(--white);
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: var(--gray);
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: var(--white);
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: var(--sky-blue);
}

.services .iconbox-blue:hover .icon i {
  color: var(--white);
}

.services .iconbox-blue:hover .icon path {
  fill: var(--sky-blue);
}

.services .iconbox-green i {
  color: var(--green);
}

.services .iconbox-green:hover .icon i {
  color: var(--white);
}

.services .iconbox-green:hover .icon path {
  fill: var(--green);
}

.services .iconbox-pink i {
  color: var(--pink);
}

.services .iconbox-pink:hover .icon i {
  color: var(--white);
}

.services .iconbox-pink:hover .icon path {
  fill: var(--pink);
}

.services .iconbox-yellow i {
  color: var(--yellow);
}

.services .iconbox-yellow:hover .icon i {
  color: var(--white);
}

.services .iconbox-yellow:hover .icon path {
  fill: var(--yellow);
}

.services .iconbox-red i {
  color: var(--orange);
}

.services .iconbox-red:hover .icon i {
  color: var(--white);
}

.services .iconbox-red:hover .icon path {
  fill: var(--orange);
}

.services .iconbox-teal i {
  color: var(--aqua);
}

.services .iconbox-teal:hover .icon i {
  color: var(--white);
}

.services .iconbox-teal:hover .icon path {
  fill: var(--aqua);
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: var(--white);
  border-radius: 20px; /*se divide en 3 columnas con una fracción*/
  padding: 40px 0 40px 0;
}

.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--gray);
}

.contact .info p {
  padding: 0  0 10px 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--gray2);
}

.contact .info .email,
.contact .info .phone {
  margin-top: 1.5rem;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--blue2);
  color: var(--white);
}

.contact .form-email {
  width: 100%;
  background: var(--white);
  border-radius: 20px;
  padding: 10px 10px 0 20px;
}

.contact .form-email .form-group {
  padding-bottom: 8px;
}


.contact .form-email button[type=submit] {
  background: var(--blue2);
  border: 0;
  padding: 10px 35px;
  color: var(--white);
  transition: 0.4s;
  border-radius: 50px;
}

.contact .form-email button[type=submit]:hover {
  background: var(--blue3);
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--white);
  color: var(--gray);
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 1.5rem 0;
}

#footer .social-links {
  margin: 0 0 1.5rem 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--blue2);
  color: var(--white);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: var(--blue3);
  color: var(--white);
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}